<header>
  <div class="topbar"></div>
  <nav class="navbar">
    <div class="logo-nav">
      <img src="/assets/img/logo-nav.svg">
    </div>

    <div class="nav-links">
      <ul class="list_link">
        <li><a routerLink="/servicos">Serviços</a></li>
        <li><a routerLink="/clientes">Clientes</a></li>
        <li><a routerLink="/cooperador">Cooperados</a></li>
        <li><a routerLink="/querosercliente">Quero ser cliente</a></li>
        <li><a routerLink="/faleconosco">Fale Conosco</a></li>
      </ul>
    </div>

    <div class="btn_nav">
      <button class="btn_cliente"><a href="#"><i class="bi bi-person-arms-up"></i> Sou Cliente</a></button>
      <button class="btn_cooperador"> <a href="#"><i class="bi bi-person-fill"></i> Portal do Cooperado/Credenciado</a></button>
    </div>
  </nav>
</header>
