<footer>
<section>
  <div class="footer_container">
    <div class="nav_footer">
      <h2>CuraSoft Araraquara</h2>

      <ul class="links_footer">
        <li>Sobre a CuraSoft</li>
        <li>Certificações</li>
        <li>Código de Conduta</li>
        <li>Cooperativismo</li>
        <li>Diretoria</li>
        <li>Governança</li>
        <li>Identidade Organizacional</li>
        <li>Pesquisa Satisfação</li>
      </ul>
    </div>

    <div class="contact">
      <h2>Contato</h2>

      <ul class="links_contact">
        <li>Fale com a CuraSoft</li>
        <li>Siga nossas redes</li>
      </ul>

      <div class="contact_footer">
        <ul>
          <li><i class="bi bi-instagram"></i></li>
          <li><i class="bi bi-facebook"></i></li>
          <li><i class="bi bi-youtube"></i></li>
          <li><i class="bi bi-linkedin"></i></li>
        </ul>
      </div>
    </div>

    <div class="app">

      <h2>Aplicativo</h2>

      <div class="btn_app">
        <button class="android"><i class="bi bi-google-play"></i> Baixe o app no Google Play</button>
        <button class="ios"><i class="bi bi-apple"></i> Baixe o app na App Store</button>
      </div>
    </div>
  </div>
</section>

<section class="footer_copy">
  <div class="img_copy">
    <img src="/assets/img/logo-footer.svg">
  </div>

  <div class="text_copy">
    <p class="copyright">© 2025 SafeCare Solutions. Empresa fictícia criada para fins acadêmicos na disciplina de Engenharia de Software I.</p>

    <p class="txt_description">Desenvolvendo soluções seguras para o cuidado.</p>

    <p class="txt_address">Av. Maria Antonia Camargo de Oliveira, 170 - Vila Suconasa, Araraquara - SP, 14807-120</p>
  </div>
</section>

</footer>
