<app-home-header></app-home-header>
<main>
  <section>
    <div class="banner">
      <img src="/assets/img/banner-curasoft.svg">
    </div>
    <div class="banner_servicos">
      <img src="/assets/img/banner-servicos.svg">
    </div>
  </section>

  <section class="flat">
    <div class="flat-person">
      <h2>Quer contratar um plano?</h2>

      <button class="btn-person"><a>Conheça nossos planos</a></button>
    </div>

    <div class="flat-enterprise">
      <h3>Para sua Empresa</h3>

      <button class="btn-enterprise"><a>Solicite um orçamento</a></button>
    </div>
  </section>

  <section class="about-us">
  <div class="background-overlay">
    <h2>Sobre Nós</h2>
    <p>A SafeCare Solutions é uma empresa de tecnologia da informação com a missão de transformar o cuidado com a saúde mental por meio de soluções digitais inovadoras e seguras. Focamos no desenvolvimento de sistemas que não apenas otimizam processos, mas que também garantem a privacidade, a segurança e a conformidade legal, essenciais em um setor tão sensível.
Nosso principal produto, o CuraSoft, é um sistema de gerenciamento de pacientes desenvolvido para clínicas de saúde mental. Diferente de um prontuário médico tradicional, o CuraSoft mantém dados específicos sobre os tratamentos e condições dos pacientes com problemas de saúde mental, com o objetivo de gerar informações administrativas e fornecer dados atualizados para a equipe clínica.
A natureza única do nosso sistema exige uma abordagem de desenvolvimento híbrida, combinando o
modelo incremental para entregar módulos como o gerenciamento de pacientes e o monitoramento, a prototipação para validar nossas interfaces com os usuários e o modelo espiral para mitigar riscos críticos de segurança e privacidade.
Com o CuraSoft, a SafeCare Solutions garante que a tecnologia seja uma aliada no cuidado, proporcionando à equipe médica as ferramentas necessárias para agir de acordo com a lei e garantir que suas decisões sejam registradas para eventual revisão jurídica.</p>
    </div>
</section>

<section>
  <div class="contact">
    <h2>Fale com a curasoft</h2>

    <div class="contact_container">
      <div class="container">
        <span>
          <i class="bi bi-file-earmark-check"></i>
        </span>
        <h3>Trabalhe Conosco</h3>
        <p>Cadastre o seu currículo e venha fazer parte de nossa equipe.</p>
      </div>
      <div class="container">
        <span>
           <i class="bi bi-headset"></i>
        </span>
         <h3>Serviço de atendimento ao cliente</h3>
        <p>4002-8922</p>
      </div>
      <div class="container">
        <span>
          <i class="bi bi-chat-dots"></i>
        </span>
         <h3>Fale com a CuraSoft</h3>
        <p>Veja qual canal pode lhe atender melhor.</p>
      </div>
      <div class="container">
        <span>
          <i class="bi bi-people-fill"></i>
        </span>
         <h3>Canal do Prestador</h3>
        <p>Exclusivo para prestadores da rede da CuraSoft</p>
      </div>
    </div>
  </div>
</section>

<section>
    <div class="information">
      <h2>Informações regulatórias</h2>
      <p>Encontre todas as informações regulatórias que temos disponíveis em nossa página exclusiva.</p>
      <a href="#" class="btn-saiba-mais">
        Saiba mais
        <i class="bi bi-chevron-right"></i>
      </a>
    </div>
</section>
</main>
<app-home-footer></app-home-footer>
